<!-- Ketki's page on the website -->
{% extends "base.html" %}
{% block title %}Comedians Through The Decades
{% endblock %}

{% block pagecontent %}
<h1><u>Comedians Through The Decades</u></h1>
</div>
{#embedding from padlet#}
<div id="padlet" style="margin-bottom: 5vw;">
 <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://padlet.com/avabrooks1234567/r38cckn80sqbsrbl" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div </a></div></div>
</div>


{% endblock %} 


