{% extends "base.html" %}
{% block title %}History of Comedy
{% endblock %}

{% block pagecontent %}
<h1><u>History of Comedy:</u></h1>

The classic conception of comedy, which began with Aristotle (pictured below) in ancient Greece of the 4th century BCE and persists through the present, holds that it is primarily concerned with humans as social beings, rather than as private persons, and that its function is frankly corrective. The comic artist’s purpose is to hold a mirror up to society to reflect its follies and vices, in the hope that they will, as a result, be mended. The 20th-century French philosopher Henri Bergson shared this view of the corrective purpose of laughter; specifically, he felt, laughter is intended to bring the comic character back into conformity with his society, whose logic and conventions he abandons when “he slackens in the attention that is due to life.
(from Britannica)

<li><img src="https://cdn.britannica.com/s:300x300/84/87984-050-7C5547FE/Detail-Roman-copy-portrait-bust-Aristotle-Greek.jpg"></li>

<br/>

The word comedy comes from a Greek word which means "to revel." It is said that comedy came as a result of revels with Dionysus, the Greek god of vegetation. Thus,comedy came from vegetation rituals. Comedy, like tragedy, was heavily based on improvisation. However, while tragedy discusses men who are better than average, comedy deals with men who are worse.

<br/>.

Over the years, comedy has evolved to reflect the people in society, and it gives people an escape from the normal world into a world of humor and fun. It has the power to bring people together in times of great distress and difficulty.

<br/>
<li><img src="https://m.media-amazon.com/images/G/01/seo/siege-lists/best-comedy-audiobooks-social.jpg"></li>


{% endblock %}
