{% extends "base.html" %}
{% block title %}About Iniyaa
{% endblock %}
{% block pagecontent %}
<body>
<div>
        <body class="jumbotron">
                <h1 class="display-4">Iniyaa's Page!</h1>
                <p class="lead">This page has some of the code and content I learned this trimester</p>
                <hr class="my-4">
<div>
<h1>Study Journal</h1>
</div>
<div>
        <p>This is the document that tracks my projects this trimester.</p>
</div>
<div>

        <iframe width='1280' height='500' src='https://docs.google.com/document/u/1/d/1Oe6u6SvYPV3xxBeHcY3fxRQVrFZ_Wtz-9sMFICQNpeY/edit'
                frameborder=2 allowfullscreen allow='xr-spatial-tracking'></iframe>
</div>
<div>
        <h1>Code for this page</h1>
</div>
<div>
        <p>This has the earlier version of the code for this page</p>
</div>
<div>

        <img src="https://docs.google.com/drawings/d/e/2PACX-1vTB4v1IPaIF0qIYTtyMNUr4nQPxTpv0eV9rQ9lgCGRpf7kAgp0utuh-y2-P-yJH0yLe9M8Lt4fK2i4B/pub?w=1421&amp;h=782">
</div>
        </body>
<div class="footer-margin">
        <footer class="card-footer bg-light footer-font-style text-muted footer-position"><a
                href="https://github.com/iniyaam/Python-Web-Portfolio-Series-1">Github</a>
        </footer>
</div>


{%endblock%}