{% extends "base.html" %}
{% block title %}About Lucas
{% endblock %} 

{% block pagecontent %}

<h1><u>About Lucas:</u></h1>
    <div>
    <ul>
        <li>Hi I'm Lucas and I'm a junior in high school. I have 4 pets, 2 dogs and 2 cats. Below is a picture of both of my
            dogs. The black one's name is Duffy and he's 6 years old. The white one's name is Sherman and he's 3 years old. They are super fluffy.</li>
        <li><a href="https://github.com/notkobalt">My Github Profile</a></li>
        <li><a href="https://instagram.com/Lucasisbored">My Instagram</a></li>
        <li><img src="https://media.discordapp.net/attachments/771905159554662400/774469365445558282/image0.jpg?width=902&height=677"></li>
    </ul>
    </div>


{%endblock%}